{{#if model.attributes.total_todos}}
    <div style="display: inline-block; margin-right: 10px;">
        <a data-toggle="collapse" data-parent="#{{../this.parentCid}}" href="#{{getFieldValue model "id"}}">
            {{str 'LBL_IBM-CONNECTIONS_LIST_TASKS' model.module}}: {{model.attributes.completed_todos}} / {{model.attributes.total_todos}}
        </a>
    </div>

    <div class="progress" style="width: 100px; display: inline-block; margin-right: 10px;">
        <div class="bar" style="width: {{model.attributes.completion}}%;"></div>
    </div>
{{/if}}
