<div class="tab-pane active">
    <ul class="unstyled listed  accordion" data-action="pagination-body" id="{{this.cid}}">
        {{#each collection.models}}
            <li  class="accordion-group" iid="{{getFieldValue this "id"}}"  >
                <div>
                    <div class="pull-right  actions ">
                        <div style="display: inline-block; margin-right: 10px;">Tasks: 1 / 5</div>

                        <div class="progress" style="width: 100px; display: inline-block; margin:0 10px 0 0;" >
                            <div class="bar" style="width: 60%;"></div>
                        </div>

                        {{#each ../row_actions}}
                            {{field ../../this model=../this}}
                        {{/each}}
                    </div>

                    <p style="padding-left:0" >
                        <a data-toggle="collapse" data-parent="#{{../this.cid}}" href="#{{getFieldValue this "id"}}">
                            {{getFieldValue this "name"}}
                        </a> <i class="icon-caret-right"></i>
                    </p>
                </div>

                <div id="{{getFieldValue this "id"}}" class="collapse" style="height: 0px;">
                    <div class="subTaskHold"  >

                        <div class="block-footer">{{str "LBL_LOADING" this.module}}</div>
                    </div>
                </div>
            </li>
        {{/each}}
    </ul>
</div>
