<div>
    {{#if collection.length}}
        {{#each collection.models}}
            <div style="padding-top: 5px; padding-bottom: 5px;"  >
                <div class="pull-right  actions ">
                    {{#each ../../this.meta.row_actions }}
                        {{field ../../../this model=../this template='edit' }}
                    {{/each}}
                </div>

                {{#eq attributes.node_type "todo"}}
                    {{#each ../../this.meta.todoCh }}
                        {{field ../../../this model=../this template='edit' }}
                    {{/each}}
                {{/eq}}

                {{#eq attributes.node_type "entry"}}
                    <i class="icon-file-alt"></i>
                {{/eq}}

                <a href="{{getFieldValue this "url"}}" target="_blank" >{{getFieldValue this "name"}}</a>

                {{#notEq  'ibm_connectionsMembers' ../this.parentModule}}
                    {{#if attributes.assigned_user_name }}
                        {{str "LBL_ASSIGNED_TO" this.module}}:
                        <a target="_blank" href="{{getFieldValue this "assigned_user_url"}}">{{getFieldValue this "assigned_user_name"}}</a>
                    {{/if}}
                {{/notEq}}

                {{#if attributes.duedate }}
                    <date class="date">{{dateFormat attributes.duedate}}</date>
                {{/if}}

                <div style="clear: both;"></div>
            </div>
        {{/each}}

    {{else}}

        <div class="block-footer">
            {{#if ../collection.dataFetched}}
                {{str "LBL_NO_DATA_AVAILABLE" this.module}}
                {{log this.module}}
            {{else}}
                {{str "LBL_LOADING" this.module}}
            {{/if}}
        </div>
    {{/if}}
</div>
